body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid burlywood;
    justify-content: space-around;
    align-items: center;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 15%;
        background-color: aquamarine;
    }
    menu{
        height: 80px;
        width: 40%;
        background-color:brown;
        margin: 0;
        padding: 0;
        ul{
            height: 100%;
            width: 100%;
            margin: 0;
            list-style-type: none;
            background-color:blueviolet;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        nav{
            background-color: black;
            height: 100%;
            width: 100%;
        }
    }
    .auth{
        height: 80px;
        width: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .login{
        background-color: aliceblue;
        border: none;
    }
    .signup{
        background-color: bisque;
        border: 1px solid aliceblue;
    }
}